URP Studio Livery Creator.unitypackage
.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln


Build/Echo_Trigger_Data/resources.assets.resS
Build/Echo_Trigger_Data/sharedassets1.assets.resS
Build/Echo_Trigger_Data/sharedassets0.assets.resS
